html,body {
    min-height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
}

.wrap > .container { position: relative;
    z-index: 1;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}


.site-index{text-align:center;}
.navbar-header { float: none; margin-bottom: 40px; padding-top: 15px;}
.navbar{ border: medium none;
    height: 100%;
    padding: 0 0 0 35px;
    width: 185px;}
.navbar-default { background-color: transparent;}
.navbar-brand {height: 97px; margin-left: 19px;}
.nav-stacked > li + li {height: 40px;}
.nav > li > a {
    border-radius: 0;
    color: #fff;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    display: inline-block;
}
.nav > li > a:hover, .nav > li > a:focus  {border-bottom:1px solid; background-color: transparent;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;border-bottom:1px solid;
}
.navbar-brand > img.logo{width: 190px;}
.navbar-brand > img.mlogo{width: 130px;display: none;}
.navbar-default .navbar-toggle {border-color: #fff;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #22303c;
}
.mtop{margin-top:153px;}
.roboto{font-family: "Roboto Condensed",sans-serif;}
.font18{font-size:18px;}
.lh30{line-height:30px;}
.white{color:white;}
.brand_blue{color:#22303C;}
.blue_bg{background-color: #22303c;
    height: 100%;
    left: 185px;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;}
.red_bg{background-color: #a94442;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 185px;
    z-index: 1;}
@media (min-width: 768px) {
    .container {
        margin-left: 200px;
    }
}
@media (max-width: 768px) {
    .red_bg{background-color: transparent;}
    .blue_bg{left: 0;}
    .navbar {
        height: auto;
        padding: 0;
        width: 100%;
    }
    .navbar-header {margin-bottom: 0; padding-bottom:15px; background-color: #a94442;}
    .navbar-brand {height: 50px;}
    .navbar-brand > img.logo{display:none;}
    .navbar-brand > img.mlogo{display:block;}
    .navbar-brand {padding: 6px;}
    .navbar-collapse {
        background-color: #a94442;
        border-top: 1px solid transparent;
        padding-top: 15px;
    }
    .mtop {margin-top: 110px;}
}
@media (max-width: 475px) {
    .blue_bg{visibility: hidden;}
    .container {background-color: #22303c; opacity: 0.85; padding-bottom: 60px;}
}